@mixin dark {
  // --x-body-color: var(--x-white);
  // --x-body-color-rgb: #{to-rgb($white)};
  // --x-body-bg: var(--x-blue);
  // --x-body-bg-rgb: #{to-rgb($blue)};
  // --x-tertiary-bg: #{$blue-600};

  body {
    background-color: var(--x-body-bg);
    color: var(--x-body-color);
  }

  .navbar {
    background-color: var(--x-navbar-bg);
  }

  a {
    color: var(--x-link-color);

    &:hover {
      color: lighten(var(--x-link-color), 10%);
    }
  }

  // Override Bootstrap classes
  .bg-dark {
    background-color: var(--x-navbar-bg) !important;
  }

  .text-dark {
    color: var(--x-body-color) !important;
  }


}
