$body-bg-dark: #0f172a;       // Background color for dark theme
$body-color-dark: #f5f5f5;    // Text color for dark theme
$navbar-bg-dark: #33215D;     // Navbar background color for dark theme
$link-color-dark: #a29bfe;    // Link color for dark theme


@mixin dark {
  // Set CSS variables using SCSS variables
  --x-body-color: #{$body-color-dark};
  --x-body-bg: #{$body-bg-dark};
  --x-navbar-bg: #{$navbar-bg-dark};
  --x-link-color: #{$link-color-dark};

  body {
    background-color: var(--x-body-bg);
    color: var(--x-body-color);
  }

  .navbar {
    background-color: var(--x-navbar-bg);
  }

  a {
    color: var(--x-link-color);

    &:hover {
      color: lighten($link-color-dark, 10%); // Use SCSS variable for manipulation
    }
  }

  // Override Bootstrap classes
  .bg-dark {
    background-color: var(--x-body-bg) !important;
  }

  .navbar-dark {
    background-color: var(--x-navbar-bg) !important;
  }

  .text-dark {
    color: var(--x-body-color) !important;
  }

}
