---
topic: application
tags: stats, cards, analytics, measure
created_at: 2022-12-15
updated_at: 2022-12-15
---

<div class="card border-primary-hover">
  <div class="card-body p-4">
    <div class="d-flex align-items-center gap-2">
      {% img class="w-rem-5 flex-none", src=img if img else '/img/icons/Group-1171275030.png' %}
      <a href="/pages/page-details.html" class="h6 stretched-link">{{ title if title else 'New Campaign' }}</a>
    </div>
    <div class="text-sm fw-semibold mt-3">
      {{ subtitle if subtitle else 'Create a new campaign' }}
    </div>
  </div>
</div>
